@{
    ViewData["Title"] = "Bienvenido a mi portafolio";
}

<!--MI PERFIL (FOTO Y NOMBRE)-->

<partial name="_Perfil" />

<div class="presentacion" style="background:#EDEDED;">
    <div class="container presentacion2">
        <h3 class="pt-5 fw-bold fs-2 text-start mb-5">¿Quien soy?</h3>
        <p>
            Soy Agustin Garcia Navas, un apasionado desarrollador en constante crecimiento, aprendizaje y mejora continua. 
            Actualmente, me encuentro en mi segundo año de estudios en la Facultad UTN Regional Avellaneda, cursando la Tecnicatura en Programación, 
            con más de 10 materias promocionadas de dicha carrera.
            Hasta el momento, trabajo y siempre trabajé en el rubro de la salud, utilizando diversos programas de gestión y como resultado, 
            obteniendo experiencia en los distintos contextos de negocios que contenían cada programa. 
            Entendiendo, por otra parte, las necesidades de los empleados como también las de las empresas. 
            Soy una persona proactiva, hábil en la resolución de conflictos y orientada a resultados.

        </p>
              
    </div>
</div>
    

