<div class="row text-center justify-content-center bg-primary bienvenida">

    <div class="col col-md-7">

        <h2 class="">
            Bienvenido a mi portafolio
        </h2>
        <p>
            He desarrollado diversos proyectos tanto en python que fue lo aprendido en el primer cuatrimestre de la facultad, como de .NET,
            luego a nivel profesional realice una aplicacion de escritorio para una importante prepaga de salud.
            Actualmente estoy estudiando programacion en la UTN, me encuentro en 2do año con todas las materias aprobadas correspondientes a cada cuatrimestre.
        </p>

    </div>


</div>


<div class="row  row-cols-sm-1 row-cols-md-4 justify-content-md-center text-center" style="margin-top: -300px">

    <div class="col columnas_habilidades " style="border-radius: 1rem 0 0rem 1rem; box-shadow: 0px 2px 5px 0px">

        <i class="bi bi-hdd-fill" style="font-size:3rem"></i>
        <h3>Back-end</h3>
        <p>Trabajo en la creacion de software, realizando aplicaciones tanto de escritorio como web.</p>
        <p class="text-primary fw-bold">Stack</p>
        <p>C#, WinForms, ASP.NET Core MVC, SQL Server, Python</p>
        <p class="text-primary fw-bold">Experiencia</p>
        <ul>
            <li>POO</li>
            <li>Multi-threading</li>
            <li>Entity Framework Core</li>
            <li>ADO net</li>
            <li>Linux/Unix</li>
            <li>Docker</li>
            <li>Ansible</li>
        </ul>

    </div>

    <div class="col columnas_habilidades" style="border-radius: 0 1rem 1rem 0; box-shadow: 0px 2px 5px 0px">

        <i class="bi bi-code-slash" style="font-size:3rem"></i>
        <h3>Front-end</h3>
        <p>Realizo front-ends robustos los cuales cumplen con los requerimientos que necesite el contexto de negocio.</p>
        <p class="text-primary fw-bold">Stack</p>
        <p>HTML, CSS</p>
        <p class="text-primary fw-bold">Experiencia</p>
        <ul>
            <li>Bootstrap</li>

        </ul>
    </div>

</div>