<div class="text-center presentacion">

    <h1 class="display-3 mb-4">Soy Agustin Garcia Navas</h1>

    <p class="fs-4 fw-normal">Un desarrollador full stack especializado en tecnologias .NET, C#, y Python.</p>

    <img id="foto_perfil" class="img-fluid img-thumbnail" src="~/imagenes/WhatsApp Image 2021-08-24 at 23.01.25.jpeg" alt="foto-perfil" />

</div>

<div class="row text-center justify-content-center align-items-center pb-5">

    <h3 class="mt-5 fw-light fs-2">Tecnologia utilizada en esta pagina </h3>
    <div class="col col-8">

        <img class="img-fluid" id="foto_asp" src="~/imagenes/pngwing.com (2).png" alt="fot_tecnologia_usada" />
    </div>
</div>