@using MiPresentacion1.Models.Servicios
@model IEnumerable<Proyecto>

<div class="text-center">
    <h2 class="mb-3 mt-5 fs-1 ">Proyectos</h2>
    <p class="fs-4">Aqui se encuentran todos los proyectos realizados</p>
</div>

<partial name="_Proyectos" model=@Model/>

