

<div class="text-center" style="margin:20rem 0 0 0">
    <h2>Gracias por ponerte en contacto conmigo</h2>
    <p>A la brevedad me contactare con usted.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al inicio</a>
</div>