<!--ESPECIALIDADES-->
<div style="margin-top: -150px">

    <div class="row justify-content-md-center text-center mb-5 p-5">

        <div class="col col-md-3 bg-white habilidades" style="border-radius: 1rem 0 0rem 1rem; box-shadow: 0 5px  5px 0 gray">

            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Trabajo en la creacion de software, realizando
                aplicaciones tanto de escritorio como web.
            </p>
            <p class="text-primary cabecera">Stack</p>
            <p>
                C#, WinForms, ASP.NET Core MVC, SQL Server, Python
            </p>
            <p class="text-primary cabecera">Experiencia</p>
            <ul>
                <li>POO</li>
                <li>Multi-threading</li>
                <li>Entity Framework Core</li>
                <li>ADO net</li>
                <li>Linux/Unix</li>
                <li>Docker</li>
                <li>Ansible</li>
            </ul>

        </div>

        <div class="col col-md-3 bg-white habilidades" style="border-radius: 0 1rem 1rem 0 ; box-shadow:  0 5px 5px 0 gray">

            <i class="bi bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Realizo front-ends robustos los cuales
                cumplen con los requerimientos que necesite
                el contexto de negocio.
            </p>
            <p class="text-primary cabecera">Stack</p>
            <p>
                HTML, CSS

            </p>
            <p class="text-primary cabecera">Experiencia</p>
            <ul>
                <li>Bootstrap</li>

            </ul>

        </div>
    </div>


</div>