<!-- LA PRIMERA FILA SOY AGUSTIN-->

<div class="row text-center justify-content-center mi-perfil">

    <div class="col col-md-7 seccion-miPerfil">
        <h1 class="display-4 mt-5">Soy Agustin Garcia Navas</h1>
        <h2 class="mt-2">
            Un desarrollador full stack especializado en tecnologias .NET, C#, y Python.
        </h2>
        <img id="fotoPerfil" src="~/imagenes/WhatsApp Image 2021-08-24 at 23.01.25.jpeg" alt="Foto de agustin garcia" />
    </div>

</div>

<!--imagen donet-->

<div class="text-center ">
    <img id="img-donet" src="~/imagenes/pngwing.com (2).png" alt="logo" />
</div>


<!-- LA SEGUNDA FILA BIENVENIDA-->

<div class="row text-center justify-content-center bg-primary">

    <div class="col col-md-7  seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p>
            He desarrollado diversos proyectos tanto en python que fue lo aprendido en el primer cuatrimestre de la facultad,
            como de .NET, luego a nivel profesional realice una aplicacion de escritorio para una importante prepaga de salud.
            Actualmente estoy estudiando programacion en la UTN, me encuentro en 2do año con todas las materias aprobadas
            correspondientes a cada cuatrimestre.

        </p>
    </div>

</div>