@model IEnumerable<ProyectoDTO>



<div class="text-center" style="margin: 5rem 0 5rem 0">
    <h1>Mis trabajos recientes</h1>
    <p>Aqui se pueden visualizar los trabajos realizados recientemente</p>

    <partial name="ListadoProyectos" model="Model">
</div>



