@model IEnumerable<ProyectoDTO>

@{
    ViewData["title"] = "Proyectos jeje";
}

<div class="container">
    <h1>Bienvenido a todos mis proyectos</h1>
    <p>
        Aqui se encuentran todos mis proyectos realizados a lo
        largo del tiempo.
    </p>

</div>


<h2> asdad</h2>
<h2> asdad</h2>
<h2> asdad</h2>
<partial name="ListadoProyectos" model="Model"/>